[SddmGreeterTheme]
Name=Ghost
Description=Ghost Theme
Description[ast]=Tema Ghost
Description[bs]=Ghost Tema
Description[ca]=Tema Ghost
Description[ca@valencia]=Tema Ghost
Description[cs]=Motiv Ghost
Description[da]=Ghost-temaet
Description[de]=Ghost-Design
Description[el]=Θέμα Ghost
Description[en_GB]=Ghost Theme
Description[es]=Tema Ghost
Description[et]=Ghost teema
Description[fi]=Ghost-teema
Description[fr]=Thème Ghost
Description[gl]=Tema Ghost
Description[he]=ערכת הנושא Ghost
Description[hu]=Ghost téma
Description[id]=Tema Ghost
Description[is]=Ghost þema
Description[it]=Tema Ghost
Description[ja]=Ghost テーマ
Description[ko]=Ghost 테마
Description[lt]=Ghost apipavidalinimas
Description[nb]=Ghost-tema
Description[nds]=Ghost-Muster
Description[nl]=Thema Ghost
Description[nn]=Ghost-tema
Description[pl]=Wystrój Ghost
Description[pt]=Tema Ghost
Description[pt_BR]=Tema Ghost
Description[ru]=Тема «Ghost»
Description[sr@latin]=Tema Ghost
Description[sv]=Ghost-tema
Description[tr]=Ghost Teması
Description[uk]=Тема «Ghost»
Author=David Edmundson, David Linares, Ramon Buldó. Edited by Dan Johansen
Copyright=(c) 2014, David Edmundson, David Linares (Mcder3), Ramon Buldó
License=CC-BY-SA
Type=sddm-theme
Version=0.0.1
Website=https://github.com/Strit/artwork-Ghost
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=strit83@gmail.com
Theme-Id=Ghost
Theme-API=2.0
